.list-products .product {
	padding-top: calc(var(--bs-gutter-x)* .5);
	padding-bottom: calc(var(--bs-gutter-x)* .5);
}
.list-products .product .inner {
	transition: background .2s ease-in-out;
	background: #1c1c1c;
    border: #333 1px solid;
}
.list-products .product .inner .product-thumbnail {
	border-bottom: #333 1px solid;
}
.list-products .product .inner:hover {
	background: #111111;
}
