.inline-edit-col label:last-child,
#slug-description,
#description-description,
#name-description,
.term-description-wrap,
.term-slug-wrap,
.term-parent-wrap {
	display: none;
}

.column-qrbank,
.column-qrbank img {
	width: 150px;
}
.column-qrbank img {
	height: auto;
}