.fw-shortcode-photoswipe-lightbox .shortcode-photoswipe-lightbox a > img {
	width: 100%;
	height: auto;
}
.fw-shortcode-photoswipe-lightbox .shortcode-photoswipe-lightbox a .zoom-icon {
	background: rgba(0, 0, 0, .6);
}
.fw-shortcode-photoswipe-lightbox .shortcode-photoswipe-lightbox a .zoom-icon img {
	width: 48px;
}
@media (min-width: 992px) {
	.fw-shortcode-photoswipe-lightbox .shortcode-photoswipe-lightbox a .zoom-icon img {
		width: 150px;
	}
}